// Variables
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$size-main: 0.8125rem; // 13px - very small!
$size-small: 0.6875rem;
$font-family: 'Be Vietnam', sans-serif;
$weight-normal: 500;
$weight-bold: 600;

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (min-width: 600px) {
      @content;
    }
  }
}
